.body {
  background-color: beige;
}
.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: beige;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:darkslategray;
  height: 150px;
  padding: 20px;
  color: beige;
}

.App-title {
  font-size: 2.5em;
  text-align: left;
}

.App-intro {
  font-size: 1.1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

